<div class="full-page gb_padrao"> 
    <div class="login-container">
        <h1 class="text-center">Login</h1>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-line">
                <label for="remember">Lembrar-me </label>
                <input type="checkbox" id="remember" name="remember">
            </div>
            <button type="submit" class="login-button">Entrar</button>
            <div class="links">
                <a href="/esqueceu-senha">Esqueceu sua senha?</a>
            </div>
        </form>
    </div>
</div>