@font-face {
    font-family: 'Novelin';
    src: url('fonts/Novelin-Bold.eot');
    src: url('fonts/Novelin-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Novelin-Bold.woff2') format('woff2'),
        url('fonts/Novelin-Bold.woff') format('woff'),
        url('fonts/Novelin-Bold.svg#Novelin-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novelin';
    src: url('fonts/Novelin-BoldItalic.eot');
    src: url('fonts/Novelin-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Novelin-BoldItalic.woff2') format('woff2'),
        url('fonts/Novelin-BoldItalic.woff') format('woff'),
        url('fonts/Novelin-BoldItalic.svg#Novelin-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Novelin';
    src: url('fonts/Novelin-BlackItalic.eot');
    src: url('fonts/Novelin-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Novelin-BlackItalic.woff2') format('woff2'),
        url('fonts/Novelin-BlackItalic.woff') format('woff'),
        url('fonts/Novelin-BlackItalic.svg#Novelin-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Novelin';
    src: url('fonts/Novelin-Italic.eot');
    src: url('fonts/Novelin-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Novelin-Italic.woff2') format('woff2'),
        url('fonts/Novelin-Italic.woff') format('woff'),
        url('fonts/Novelin-Italic.svg#Novelin-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Novelin';
    src: url('fonts/Novelin-Black.eot');
    src: url('fonts/Novelin-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Novelin-Black.woff2') format('woff2'),
        url('fonts/Novelin-Black.woff') format('woff'),
        url('fonts/Novelin-Black.svg#Novelin-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novelin';
    src: url('fonts/Novelin-Light.eot');
    src: url('fonts/Novelin-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Novelin-Light.woff2') format('woff2'),
        url('fonts/Novelin-Light.woff') format('woff'),
        url('fonts/Novelin-Light.svg#Novelin-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novelin';
    src: url('fonts/Novelin-Regular.eot');
    src: url('fonts/Novelin-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Novelin-Regular.woff2') format('woff2'),
        url('fonts/Novelin-Regular.woff') format('woff'),
        url('fonts/Novelin-Regular.svg#Novelin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novelin';
    src: url('fonts/Novelin-ThinItalic.eot');
    src: url('fonts/Novelin-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Novelin-ThinItalic.woff2') format('woff2'),
        url('fonts/Novelin-ThinItalic.woff') format('woff'),
        url('fonts/Novelin-ThinItalic.svg#Novelin-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Novelin';
    src: url('fonts/Novelin-Thin.eot');
    src: url('fonts/Novelin-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Novelin-Thin.woff2') format('woff2'),
        url('fonts/Novelin-Thin.woff') format('woff'),
        url('fonts/Novelin-Thin.svg#Novelin-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novelin';
    src: url('fonts/Novelin-LightItalic.eot');
    src: url('fonts/Novelin-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Novelin-LightItalic.woff2') format('woff2'),
        url('fonts/Novelin-LightItalic.woff') format('woff'),
        url('fonts/Novelin-LightItalic.svg#Novelin-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

